beautifulsoup4==4.14.3
certifi==2026.4.22
charset-normalizer==3.4.7
idna==3.13
lxml==6.1.0
numpy==1.24.4
pandas==2.0.3
python-dateutil==2.9.0.post0
pytz==2026.2
rapidfuzz==3.9.7
requests==2.32.4
six==1.17.0
soupsieve==2.7
typing-extensions==4.13.2
tzdata==2026.2
urllib3==2.2.3
